<div class="outer-div">
    <div class="inner-div">
        
        <mat-card [formGroup]="loginForm">
            <div class="heading">Login</div><br>
            
            <div style="margin: 0 18px;">
                <ion-input
                    placeholder="Enter Email (Ex. pat@example.com)"
                    class="custom"
                    errorText="Please Enter a valid Email!" 
                    formControlName="email" 
                    [counter]="true">
                </ion-input><br>
            </div>    
            
            <div style="margin: 0 18px;">
                <ion-input
                    placeholder="Enter Email (Ex. pat@example.com)"
                    class="custom"
                    errorText="Password must be atleast 8 characters!" 
                    formControlName="password" 
                    [counter]="true">
                </ion-input><br>
            </div>            
                         
            <ion-button style="margin: 0 18px;" (click)="login()" expand="block" color="danger" [disabled]="loginForm.invalid">Login</ion-button>
            <br>
            
            <div style="padding: 2px 0 5px 18px;">
                <span>Not a Registered User? </span>&nbsp;<a routerLink="/register">Register Here</a>
            </div>
            
          </mat-card> 
          
          
    </div>
</div>
