@import url('../header/header.component.scss');

.mat-toolbar-row, .mat-toolbar-single-row {
    color: white;
    background: black !important;
    padding: 20px;
    font-size: 12px;
    width: 100%;
    position: absolute;
    bottom: 0;
}